@{
    ViewBag.Title = "Тракс резерв : резервни части за камиони, автобуси, бусове.  Велико Търново, ул. \"Фалшива\" 11";
}

@section Header
{
    @Html.Partial("Header")
}

<div class="clear-fix" style="margin-bottom:5px;">

    <div class="servLeftSect ">
        <div class="blockWithContentAndText">
            <div class="servName"><h2>Чип тунинг леки и тежкотоварни автомобили</h2></div>
            &nbsp;&nbsp;&nbsp;Дейността ни е посветена на автомобилния чип тунинг, като главната ни цел е, оптимизиране работата на двигателя и понижаване разхода на гориво. 
            Чип тунинга води до повишаване на максимална мощност и въртящ момент.
            <br /><br />
            &nbsp;&nbsp;&nbsp;Според състоянието на двигателя, влиянието върху разхода на гориво е различно , но според 
            производителите и нашият опит, сваля разхода :
            <br />
            &nbsp;&nbsp;<img src="~/Resources/Images/Site/Bullet.png" /> За автомобили с около 0,5л-1 литра / 100км., а при 6 и 8 цилиндровите мотори, достига и до 2 литра;
            <br />
            &nbsp;&nbsp;<img src="~/Resources/Images/Site/Bullet.png" /> За микробуси с около 1.5- 3 литра / 100км.
            <br />
            &nbsp;&nbsp;<img src="~/Resources/Images/Site/Bullet.png" /> За тежкотоварни автомобили и автобуси с около 3.5 - 5 литра / 100км
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;<b>Защо не го прави производителя?</b> При развитието на един двигател и управляващия го софтуер, производителят е принуден да се съобразява с редица детайли 
            и ограничения. Така например в различните държави съществуват различни данъчни категории, както и във всяка държава са различни климатът, качеството на горивото, частите 
            за поддръжка, нормите за вредни емисии и т.н. Заложената настройката на двигателя трябва да е такава, че да е използваема при почти всички възможни условия на експлоатация, 
            затова винаги производителят при програмиране на параметрите, определящи работата на двигателя, търси една “златната среда“ от настройки, при които по традиция е заложен 
            голям резерв от неизползваем ресурс. Например при някои двигатели мощността съвсем умишлено е ограничена електронно (чрез управляващия софтуер), за да попаднат в по-нисък 
            данъчен клас с цел по-ниска цена и оттам по-голяма конкурентноспособност на пазара. Също така подобни (понякога и еднакви) двигатели се използват в различен клас автомобили, 
            чиято цена също е много различна. В тази връзка можем да кажем, че чрез подобно електронно ограничение на мощността се постига и по-ясна граница между скъпия и евтиния модел 
            автомобил.
            <br /><br />
            &nbsp;&nbsp;&nbsp;Именно поради горепосочените съображения в повечето случаи автопроизводителите не въвеждат най-подходящите и оптимални характеристики за двигателя и го 
            рестриктират по електронен път – чрез чип-тунинга се извършва точно това „донастройване” чрез допълнително оптимизиране на управляващата програма! 
            <br /><br />
            &nbsp;&nbsp;&nbsp;<b>ЕКО Тунинг</b> - Във време когато цената на дизела се увеличава все по-популярен e ЕКОТУНИНГА . При него приоритет не е достигането на максимален въртящ 
            момент, а намаляване консумацията на гориво. Ефективността след софтуерната оптимизация може да достигне повече от 20% икономия на гориво при нормално каране. Също така ще се 
            оптимизира и въртящият момент на двигателя.
            <br /><br />
            &nbsp;&nbsp;&nbsp;<b>Струва ли си да правя тунинг?</b> В действителност това зависи от изминаваните километри но при всички случаи спестявате около 10-20% гориво разбира се 
            това зависи и от изправността на превозното средство.
        </div>
    </div>
    
    <div class="servRightSect">
        <div class="blockWithContentAndText">
            <div class="servName"><h2>Сервизни услуги</h2></div>
            &nbsp;&nbsp;&nbsp;За клиенти на магазина нашият екип от специалисти може да извърши качествено сервизно и ремонтно обслужване, както
            и безплатно компютърно диагностиране на вашият товарен автомобил.
            <br /><br />
            &nbsp;&nbsp;<img src="~/Resources/Images/Site/Bullet.png" /> Разполагаме с авариен екип, който е на Ваше разположение 24 часа в денонощието в цяла търновска област.
        </div>
    </div>

</div>

