@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тракс резерв : резервни части за камиони, автобуси, бусове.  Велико Търново, ул. Фалшива 11</title>
</head>
<body>
    
    <fieldset style="display:inline-block;">
        <legend>Възникна грешка</legend>
        <h3>Възможни причини</h3>
        <ul>
            <li>Страницата, която искате да отворите не е открита.</li>
            <li>Има проблем при изпълняване на желаната операция. (Пробвайте пак в този случай)</li>
        </ul>
    </fieldset>
    <br />
    @Html.ActionLink("Към главната страница", "Index", "Main")

</body>
</html>
